*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  #logo-img{
    text-align: center;
  }
  nav ul {
    text-align: center;
    li{
      display: inline;
      a{
        color: black;
        text-decoration: none;
        margin: 10px;
        font-size: 26px;

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

.container{
  width: 90%;
  margin: auto;

  h1{
    color: lightblue;
    margin: 20px 0;
  }

  .img-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    img{
      width: 30%;
      margin: 10px;
    }
  }
}


footer{
  padding-bottom: 20px;
  .collums{
    display: flex;
    justify-content: space-around;
    align-items: center;

    .collum{
      max-width: 25%;
      ul {
        text-align: center;
        list-style: none;
        li {
          margin: 10px 0;
          a{
            text-decoration: none;
            color: black;

            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

}
